@inherits LayoutComponentBase

<div class="app-container">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        <ThemeSwitcher />
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
