openapi: 3.0.0
info:
  contact:
    email: james@firefly-iii.org
    name: James Cole
    url: https://firefly-iii.org
  description: |
    This is the documentation of the Firefly III API. Please report any bugs or issues. You may use the "Authorize" button to try the API below.
    <br><br>
    Please keep in mind that the demo site does **not** accept requests from `curl`, `colly`, `wget`, etc. You must use a browser or a tool like Insomnia to make your test requests.
    <br><br>
    To learn more about the idiosyncrasies of this API, please read about the API in the [Firefly III API documentation](https://docs.firefly-iii.org/references/firefly-iii/api/).
    <br><br>
    <small>This file was last generated on 2025-08-16 @ 20:21:49 (Europe/Amsterdam)</small>
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: Firefly III API v6.3.0
  version: v6.3.0
servers:
- description: Firefly III demo site
  url: https://demo.firefly-iii.org/api
- description: Local development server (do not use)
  url: http://firefly.sd.internal/api
security:
- firefly_iii_auth: []
- local_bearer_auth: []
tags:
- description: "These endpoints deliver general system information, version- and meta\
    \ information."
  name: about
- description: "Endpoints that deliver all of the user&#039;s asset, expense and other\
    \ accounts (and the metadata) together with related transactions, piggy banks\
    \ and other objects. Also delivers endpoints for CRUD operations for accounts."
  name: accounts
- description: "Endpoints to manage the attachments of the authenticated user, including\
    \ up- and downloading of the files."
  name: attachments
- description: "Auto-complete endpoints show basic information about Firefly III models,\
    \ like the name and maybe some amounts. They all support a search query and can\
    \ be used to autocomplete data in forms. Autocomplete return values always have\
    \ a &quot;name&quot;-field."
  name: autocomplete
- description: Endpoints to manage the total available amount that the user has made
    available to themselves. Used in periodic budgeting.
  name: available_budgets
- description: Endpoints to manage a user&#039;s bills and all related objects.
  name: bills
- description: "Endpoints to manage a user&#039;s budgets and get info on the related\
    \ objects, like limits."
  name: budgets
- description: Endpoints to manage a user&#039;s categories and get information on
    transactions and other related objects.
  name: categories
- description: The &quot;charts&quot; endpoints deliver optimised data for charts
    and graphs.
  name: charts
- description: These endpoints allow you to manage and update the Firefly III configuration.
    You need to have the &quot;owner&quot; role to update configuration.
  name: configuration
- description: "Endpoints to manage the currencies in Firefly III. Depending on the\
    \ user&#039;s role you can also disable and enable them, or add new ones."
  name: currencies
- description: All currency exchange rates.
  name: currency_exchange_rates
- description: The &quot;data&quot;-endpoints manage generic Firefly III and user-specific
    data.
  name: data
- description: "The &quot;insight&quot; endpoints try to deliver sums, balances and\
    \ insightful information in the broadest sense of the word."
  name: insight
- description: "Endpoints to manage links between transactions, and manage the type\
    \ of links available."
  name: links
- description: Endpoints to control and manage all of the user&#039;s object groups.
    Can only be created in conjunction with another object (for example a piggy bank)
    and will auto-delete when no other items are linked to it.
  name: object_groups
- description: Endpoints to control and manage all of the user&#039;s piggy banks
    and related objects and information.
  name: piggy_banks
- description: "These endpoints can be used to manage the user&#039;s preferences,\
    \ including some hidden ones."
  name: preferences
- description: "Use these endpoints to manage the user&#039;s recurring transactions,\
    \ trigger the creation of transactions and manage the settings."
  name: recurrences
- description: Manage all of the user&#039;s groups of rules and trigger the execution
    of entire groups.
  name: rule_groups
- description: These endpoints can be used to manage all of the user&#039;s rules.
    Also includes triggers to execute or test rules and individual triggers.
  name: rules
- description: "Endpoints that allow you to search through the user&#039;s financial\
    \ data. Different from the autocomplete endpoints, the search accepts more advanced\
    \ arguments."
  name: search
- description: "These endpoints deliver summaries, like sums, lists of numbers and\
    \ other processed information. Mainly used for the main dashboard and pretty specific\
    \ for Firefly III itself."
  name: summary
- description: This endpoint manages all of the user&#039;s tags.
  name: tags
- description: "The most-used endpoints in Firefly III, these endpoints are used to\
    \ manage the user&#039;s transactions."
  name: transactions
- description: User groups are the objects around which &quot;financial administrations&quot;
    are built.
  name: user_groups
- description: Use these endpoints to manage the users registered within Firefly III.
    You need to have the &quot;owner&quot; role to access these endpoints.
  name: users
- description: These endpoints can be used to manage the user&#039;s webhooks and
    triggers them if necessary.
  name: webhooks
paths:
  /v1/autocomplete/accounts:
    get:
      operationId: getAccountsAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "If the account is an asset account or a liability, the autocomplete\
          \ will also return the balance of the account on this date."
        example: 2025-08-01
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Optional filter on the account type(s) used in the autocomplete.
        explode: false
        in: query
        name: types
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AccountTypeFilter"
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteAccountArray"
          description: A list of accounts with very basic information.
      summary: Returns all accounts of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /v1/autocomplete/bills:
    get:
      operationId: getBillsAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteBillArray"
          description: A list of bills with very basic information.
      summary: Returns all bills of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /v1/autocomplete/budgets:
    get:
      operationId: getBudgetsAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteBudgetArray"
          description: A list of budgets with very basic information.
      summary: Returns all budgets of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /v1/autocomplete/categories:
    get:
      operationId: getCategoriesAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteCategoryArray"
          description: A list of categories with very basic information.
      summary: Returns all categories of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /v1/autocomplete/currencies:
    get:
      operationId: getCurrenciesAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteCurrencyArray"
          description: A list of currencies with very basic information.
      summary: Returns all currencies of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /v1/autocomplete/currencies-with-code:
    get:
      operationId: getCurrenciesCodeAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteCurrencyCodeArray"
          description: A list of currencies with very basic information and the currency
            code between brackets. This endpoint is DEPRECATED and I suggest you DO
            NOT use it.
      summary: Returns all currencies of the user returned in a basic auto-complete
        array. This endpoint is DEPRECATED and I suggest you DO NOT use it.
      tags:
      - autocomplete
  /v1/autocomplete/object-groups:
    get:
      operationId: getObjectGroupsAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteObjectGroupArray"
          description: A list of object groups with very basic information.
      summary: Returns all object groups of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /v1/autocomplete/piggy-banks:
    get:
      operationId: getPiggiesAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompletePiggyArray"
          description: A list of piggy banks with very basic information.
      summary: Returns all piggy banks of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /v1/autocomplete/piggy-banks-with-balance:
    get:
      operationId: getPiggiesBalanceAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompletePiggyBalanceArray"
          description: A list of piggy banks with very basic balance information.
      summary: Returns all piggy banks of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /v1/autocomplete/recurring:
    get:
      operationId: getRecurringAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteRecurrenceArray"
          description: A list of recurring transactions with very basic information.
      summary: Returns all recurring transactions of the user returned in a basic
        auto-complete array.
      tags:
      - autocomplete
  /v1/autocomplete/rule-groups:
    get:
      operationId: getRuleGroupsAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteRuleGroupArray"
          description: A list of rule groups with very basic information.
      summary: Returns all rule groups of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /v1/autocomplete/rules:
    get:
      operationId: getRulesAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteRuleArray"
          description: A list of rules with very basic information.
      summary: Returns all rules of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /v1/autocomplete/tags:
    get:
      operationId: getTagAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteTagArray"
          description: A list of tags with very basic information.
      summary: Returns all tags of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /v1/autocomplete/transaction-types:
    get:
      operationId: getTransactionTypesAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteTransactionTypeArray"
          description: A list of transaction types with very basic information.
      summary: Returns all transaction types returned in a basic auto-complete array.
        English only.
      tags:
      - autocomplete
  /v1/autocomplete/transactions:
    get:
      operationId: getTransactionsAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteTransactionArray"
          description: A list of transaction descriptions with very basic information.
      summary: Returns all transaction descriptions of the user returned in a basic
        auto-complete array.
      tags:
      - autocomplete
  /v1/autocomplete/transactions-with-id:
    get:
      operationId: getTransactionsIDAC
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The autocomplete search query.
        example: string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteTransactionIDArray"
          description: A list of transactions with very basic information. This endpoint
            is DEPRECATED and I suggest you DO NOT use it.
      summary: "Returns all transactions, complemented with their ID, of the user\
        \ returned in a basic auto-complete array. This endpoint is DEPRECATED and\
        \ I suggest you DO NOT use it."
      tags:
      - autocomplete
  /v1/chart/account/overview:
    get:
      description: |
        This endpoint returns the data required to generate a chart with basic asset account balance information. This is used on the dashboard.
      operationId: getChartAccountOverview
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartLine"
          description: Line chart oriented chart information. Check out the model
            for more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with asset account balance information.
      tags:
      - charts
  /v1/chart/balance/balance:
    get:
      description: |
        This endpoint returns the data required to generate a chart with balance information.
      operationId: getChartBalance
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartLine"
          description: Line chart oriented chart information. Check out the model
            for more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with balance information.
      tags:
      - charts
  /v1/chart/budget/overview:
    get:
      description: |
        This endpoint returns the data required to generate a chart with basic budget information.
      operationId: getChartBudgetOverview
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartLine"
          description: Bar chart oriented chart information. Check out the model for
            more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with budget information.
      tags:
      - charts
  /v1/chart/category/overview:
    get:
      description: |
        This endpoint returns the data required to generate a chart with basic category information.
      operationId: getChartCategoryOverview
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartLine"
          description: Line chart oriented chart information. Check out the model
            for more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with category information.
      tags:
      - charts
  /v1/data/bulk/transactions:
    post:
      description: |
        Allows you to update transactions in bulk.
      operationId: bulkUpdateTransactions
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The JSON query.
        explode: true
        in: query
        name: query
        required: true
        schema:
          format: json
          type: string
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "204":
          description: Empty response when the update was successful. A future improvement
            is to include the changed transactions.
      summary: "Bulk update transaction properties. For more information, see https://docs.firefly-iii.org/references/firefly-iii/api/specials/"
      tags:
      - data
  /v1/data/destroy:
    delete:
      description: |
        A call to this endpoint deletes the requested data type. Use it with care and always with user permission.
        The demo user is incapable of using this endpoint.
      operationId: destroyData
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The type of data that you wish to destroy. You can only use one
          at a time.
        explode: true
        in: query
        name: objects
        required: true
        schema:
          $ref: "#/components/schemas/DataDestroyObject"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "204":
          description: Empty response when data has been destroyed.
      summary: Endpoint to destroy user data
      tags:
      - data
  /v1/data/export/accounts:
    get:
      description: |
        This endpoint allows you to export your accounts from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportAccounts
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export account data from Firefly III
      tags:
      - data
  /v1/data/export/bills:
    get:
      description: |
        This endpoint allows you to export your bills from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBills
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export bills from Firefly III
      tags:
      - data
  /v1/data/export/budgets:
    get:
      description: |
        This endpoint allows you to export your budgets and associated budget data from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBudgets
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export budgets and budget amount data from Firefly III
      tags:
      - data
  /v1/data/export/categories:
    get:
      description: |
        This endpoint allows you to export your categories from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportCategories
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export category data from Firefly III
      tags:
      - data
  /v1/data/export/piggy-banks:
    get:
      description: |
        This endpoint allows you to export your piggy banks from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportPiggies
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export piggy banks from Firefly III
      tags:
      - data
  /v1/data/export/recurring:
    get:
      description: |
        This endpoint allows you to export your recurring transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRecurring
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export recurring transaction data from Firefly III
      tags:
      - data
  /v1/data/export/rules:
    get:
      description: |
        This endpoint allows you to export your rules and rule groups from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRules
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export rule groups and rule data from Firefly III
      tags:
      - data
  /v1/data/export/tags:
    get:
      description: |
        This endpoint allows you to export your tags from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTags
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export tag data from Firefly III
      tags:
      - data
  /v1/data/export/transactions:
    get:
      description: |
        This endpoint allows you to export transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTransactions
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          Limit the export of transactions to these accounts only. Only asset accounts will be accepted. Other types will be silently dropped.
        example: "1,2,3"
        explode: false
        in: query
        name: accounts
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/ExportFileFilter"
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export transaction data from Firefly III
      tags:
      - data
  /v1/data/purge:
    delete:
      description: |
        A call to this endpoint purges all previously deleted data. Use it with care and always with user permission.
        The demo user is incapable of using this endpoint.
      operationId: purgeData
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "204":
          description: Empty response when data has been purged.
      summary: Endpoint to purge user data
      tags:
      - data
  /v1/insight/expense/expense:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by expense account.
      operationId: insightExpenseExpense
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you add the accounts ID's of expense accounts, only those accounts
          are included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. You can combine both asset / liability and expense account ID's.
          Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightGroup"
          description: A list of expense accounts and expense details. Each expense
            account has one row per currency.
      summary: "Insight into expenses, grouped by expense account."
      tags:
      - insight
  /v1/insight/expense/asset:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by asset account.
      operationId: insightExpenseAsset
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightGroup"
          description: A list of asset accounts and expense details. Each asset account
            has one row per currency.
      summary: "Insight into expenses, grouped by asset account."
      tags:
      - insight
  /v1/insight/income/revenue:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, grouped by revenue account.
      operationId: insightIncomeRevenue
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you add the accounts ID's of revenue accounts, only those accounts
          are included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. You can combine both asset / liability and deposit account ID's.
          Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightGroup"
          description: A list of revenue accounts and income details. Each revenue
            account has one row per currency.
      summary: "Insight into income, grouped by revenue account."
      tags:
      - insight
  /v1/insight/income/asset:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, grouped by asset account.
      operationId: insightIncomeAsset
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightGroup"
          description: A list of asset accounts and income details. Each asset account
            has one row per currency.
      summary: "Insight into income, grouped by asset account."
      tags:
      - insight
  /v1/insight/transfer/asset:
    get:
      description: |
        This endpoint gives a summary of the transfers made by the user, grouped by asset account or lability.
      operationId: insightTransfers
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightTransfer"
          description: A list of asset accounts and transfer details. Each asset account
            has one row per currency.
      summary: "Insight into transfers, grouped by account."
      tags:
      - insight
  /v1/insight/expense/bill:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) bill.
      operationId: insightExpenseBill
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The bills to be included in the results.
        explode: true
        in: query
        name: "bills[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightGroup"
          description: A list of budget and expense details. Each budget has one row
            per currency.
      summary: "Insight into expenses, grouped by bill."
      tags:
      - insight
  /v1/insight/expense/no-bill:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no bill.
      operationId: insightExpenseNoBill
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Page not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalExceptionResponse"
          description: Internal exception
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error. The body will have the exact details.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightTotal"
          description: A list of expense details. One row per currency.
      summary: "Insight into expenses, without bill."
      tags:
      - insight
  /v1/insight/expense/budget:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) budget.
      operationId: insightExpenseBudget
      parameters:
      - description: Unique identifier associated with this request.
        example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
        explode: false
        in: header
        name: X-Trace-Id
        required: false
        schema:
          example: 40c71bbb-c676-4f24-83cf-cc725d7d7a00
          format: uuid
          type: string
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The budgets to be included in the results.
        explode: true
        in: query
        name: "budgets[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: "accounts[]"
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthenticatedResponse"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
[...]
